<div class="container">

<div class="row col-md-12">    
    <div  class="col-md-8">
        <h2>Tela de Clientes</h2>
    </div>
    <div  class="col-md-4" align="right">
        <button class="btn btn-success" (click)="addCliente()">Adicionar Cliente</button>
    </div>
</div>
<br>
<br>

<table class="table table-striped" *ngIf="clientes && clientes.length > 0">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Data Cadastro</th>
            <th>Casado</th>
            <th>Ação</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor ="let cliente of clientes, let index = index">
            <td>
                {{cliente.id}}
            </td>
            <td [ngClass]="{'casado': cliente.casado, 'nao-casado': !cliente.casado}">
                {{cliente.nome}}
            </td>
            <td>
                {{cliente.dataAtualizacao}}
            </td>
            <td>
                <input type="checkbox" [checked]="cliente.casado" (change)="checkedCasado(index)">
            </td>
            <td>
                <button class="btn btn-primary" (click)="EditarCliente(cliente.id, cliente)">Editar</button>
                <button class="btn btn-danger" (click)="DeletarCliente(cliente.id, index)">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>
</div>